
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-forward:before { content: '\e801'; } /* '' */
.icon-dot-3:before { content: '\e802'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */